# Godot 4+ specific ignores
.godot/
/android/
.vs/
.DS_Store

# Other
/[Ll]ocal/

# Obsidian (according to some medium.com post)
.obsidian/*
!.obsidian/app.json
!.obsidian/appearance.json
!.obsidian/config
!.obsidian/community-plugins.json
!.obsidian/core-plugins.json
!.obsidian/graph.json
!.obsidian/hotkeys.json